<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Felicidades...</h1>
    <h2>Estas entendiendo...</h2>

    <script>
        const body = {
            "email": "sofiaIo@gmail.com",
            "password": "firulais"
        }
        window.addEventListener("DOMContentLoaded", async ()=>{
            
            const res = await fetch("/api/login",{
                method: "post", 
                headers:{
                    "Content-Type": "application/json"
                },
                body:JSON.stringify(body),
                credentials: "include"
            })

            const result = await res.json();

            console.log(result)

        })
    </script>
</body>

</html>